.card__like {
  background: none;
  cursor: pointer;
  background-image: url(../../../images/like.svg);
  background-size: contain;
  width: 22px;
  height: 19px;
  border: none;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease-in-out;
}

.card__like:hover {
  opacity: 0.5;
}
