.card__delete {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  cursor: pointer;
  background-image: url(../../../images/trash.svg);
  width: 18px;
  height: 19px;
  border: none;
  background-repeat: no-repeat;
  transition: opacity 0.2s ease-in-out;
}

.card__delete:hover {
  opacity: 0.5;
}
